
.adress{
    background-color: bisque;
    color: black;
    text-align: center;
    padding-top: 50px;
}
.insta{
    background-color: rgb(218, 170, 98);
    color: black;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

}